.Formatacao {
  text-align: center;
}

.Formatacao-logo {
  width: 150px;
  pointer-events: none;
  margin: 0 auto;  
}

@media (prefers-reduced-motion: no-preference) {
  .Formatacao-logo {
    animation: Formatacao-logo-spin infinite 20s linear;
  }
}

.Formatacao-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.Formatacao-header-2 {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Formatacao-link {
  color: #61dafb;
}

@keyframes Formatacao-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center {
  display: block;
  margin: 0 auto;
}